﻿@model IEnumerable<tripin.Models.Ponto>
@{
    ViewBag.Title = "Póvoa de Varzim";
    var queryCordAloj = "SELECT latitude_ponto, longitude_ponto FROM Ponto WHERE tipo_ponto like 'alojamento'";
    var queryCordBar = "SELECT latitude_ponto, longitude_ponto FROM Ponto WHERE tipo_ponto like 'bar'";
}
<style>
    h2, h4 {
        color: #18BC9C;
    }

    p#rel:hover {
        color: darkorange;
    }

    p#atl:hover {
        color: #80e0d0;
    }

    p#cit:hover {
        color: #dc143c;
    }

    p#cul:hover {
        color: #32cd32;
    }
</style>

<br /><br />
<h2>@ViewBag.Title.</h2>

<i>"É tão bom viver aqui!"</i>
<br /><br /><br /><br />
<div class="col-sm-6">
    <div id="map" style="width:550px;height:470px;"></div>
    <script type="text/javascript">
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 41.3797279, lng: -8.7582672 },
                zoom: 14
            });
        }

        function marker(tipo) {
            if (tipo == "alojamento")
            {
                var img = "@Url.Content("~/Content/assets/")markers/alojamento.png";

                var marker = new google.maps.Marker({
                    //falta ir buscar a latitude e longitudee de acordo com o tipo de ponto
                    position: { lat: 41.378564, lng: -8.766137 },
                    map: map,
                    icon: img
                });

                // put in some information about each json object - in this case, the opening hours.
                //var infowindow = new google.maps.sInfoWindow({
                //  content: "<div class='infoDiv'><h2>" + item.NomeLocal + "</h2>" + item.Descricao + "<br />" + item.Url + "</div></div>"
                //});

                // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                //google.maps.event.addListener(marker, 'click', function () {
                //  infowindow.open(map, marker);
                //});
            }

            if (tipo == "bar")
            {
                var img = "@Url.Content("~/Content/assets/")markers/bar.png";

                var marker = new google.maps.Marker({
                    //falta ir buscar a latitude e longitude de acordo com o tipo de ponto
                    position: { lat: 41.385647, lng: -8.772484 },
                    map: map,
                    icon: img
                });
            }
        }

            function rota(nome)
            {
                if(nome == "atl")
                {
                    var rota = [
                  { lat: 41.378564, lng: -8.766137 },
                  { lat: 41.387005, lng: -8.770477 },
                  { lat: 41.37813, lng: -8.7602697 }
                ];
                var rota1 = new google.maps.Polyline({
                    path: rota,
                    strokeColor: '#80e0d0',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
                rota1.setMap(map);
                }
                if (nome == "cit") {
                    var rota = [
                  { lat: 41.378564, lng: -8.766137 },
                  { lat: 41.387005, lng: -8.770477 },
                  { lat: 41.37813, lng: -8.7602697 }
                    ];
                    var rota1 = new google.maps.Polyline({
                        path: rota,
                        strokeColor: '#dc143c',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    rota1.setMap(map);
                }
                if (nome == "cul") {
                    var rota = [
                  { lat: 41.378564, lng: -8.766137 },
                  { lat: 41.387005, lng: -8.770477 },
                  { lat: 41.37813, lng: -8.7602697 }
                    ];
                    var rota1 = new google.maps.Polyline({
                        path: rota,
                        strokeColor: '#32cd32',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    rota1.setMap(map);
                }
                if (nome == "rel") {
                    var rota = [
                  { lat: 41.378564, lng: -8.766137 },
                  { lat: 41.387005, lng: -8.770477 },
                  { lat: 41.37813, lng: -8.7602697 }
                    ];
                    var rota1 = new google.maps.Polyline({
                        path: rota,
                        strokeColor: 'darkorange',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    rota1.setMap(map);
                }

            }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo58rJU3nGrM0-KZHhXIcPV_Kwu5HnsU0&callback=initMap" async defer></script> 
</div>



<div class="col-sm-3">
    <h4>Pontos de Interesse</h4>
    <br>
    <p onclick="marker('alojamento')"><img src="@Url.Content("~/Content/assets/")markers/alojamento.png" alt="">Alojamento</p>
    <p onclick="marker('bar')"><img src="@Url.Content("~/Content/assets/")markers/bar.png" alt="">Lazer</p>
    <p onclick="marker('igreja')"><img src="@Url.Content("~/Content/assets/")markers/igreja.png" alt="">Igrejas</p>
    <p onclick="marker('info')"><img src="@Url.Content("~/Content/assets/")markers/info.png" alt="">Informações</p>
    <p onclick="marker('monumentos')"><img src="@Url.Content("~/Content/assets/")markers/monumentos.png" alt="">Monumentos</p>
    <p onclick="marker('museu')"><img src="@Url.Content("~/Content/assets/")markers/museu.png" alt="">Museus</p>
    <p onclick="marker('praia')"><img src="@Url.Content("~/Content/assets/")markers/praia.png" alt="">Praia</p>
    <p onclick="marker('restaurantes')"><img src="@Url.Content("~/Content/assets/")markers/restaurantes.png" alt="">Restaurantes</p>

</div>
<div class="col-sm-3">
    <h4>Rotas</h4>
    <br>
    <p id="atl" onclick="rota('atl')">Rota Atlântica</p>
    <br>
    <p id="cit" onclick="rota('cit')">Rota Citadina</p>
    <br>
    <p id="cul" onclick="rota('cul')">Rota Cultural</p>
    <br>
    <p id="rel" onclick="rota('rel')">Rota Religiosa</p>
    <br>
    <p>@Html.ActionLink("Criar Nova", "Create", "Rotas")</p>
</div>
