﻿@{
    ViewBag.Title = "Vila do Conde";
}
<style>
    h2, h4 {
        color: #18BC9C;
    }

    p#rel:hover {
        color: darkorange;
    }

    p#atl:hover {
        color: #80e0d0;
    }

    p#cit:hover {
        color: #dc143c;
    }

    p#cul:hover {
        color: #32cd32;
    }
</style>
<br /><br />
<h2>@ViewBag.Title</h2>
<i>"O lugar onde o coração se esconde e a mulher etghgfgferssna tem luz na fronte fica no norte e é Vila do Conde" - Ruy Belo</i>
<br /><br /><br /><br />
<div class="col-sm-6">
    <div id="map" style="width:550px;height:470px;"></div>
    <script>
					var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.3507, lng: -8.7474079},
          zoom: 14
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo58rJU3nGrM0-KZHhXIcPV_Kwu5HnsU0&callback=initMap" async defer></script> 
</div>



<div class="col-sm-3">
    <h4>Pontos de Interesse</h4>
    <br>
    <p><img src="@Url.Content("~/Content/assets/")markers/alojamento.png" alt="">Alojamento</p>
    <p><img src="@Url.Content("~/Content/assets/")markers/bar.png" alt="">Bares</p>
    <p><img src="@Url.Content("~/Content/assets/")markers/igreja.png" alt="">Igrejas</p>
    <p><img src="@Url.Content("~/Content/assets/")markers/info.png" alt="">Informações</p>
    <p><img src="@Url.Content("~/Content/assets/")markers/monumentos.png" alt="">Monumentos</p>
    <p><img src="@Url.Content("~/Content/assets/")markers/museu.png" alt="">Museus</p>
    <p><img src="@Url.Content("~/Content/assets/")markers/praia.png" alt="">Praia</p>
    <p><img src="@Url.Content("~/Content/assets/")markers/restaurantes.png" alt="">Restaurantes</p>

</div>
<div class="col-sm-3">
    <h4>Rotas</h4>
    <br>
    <p id="atl">Rota Atlântica</p>
    <br>
    <p id="cit">Rota Citadina</p>
    <br>
    <p id="cul">Rota Cultural</p>
    <br>
    <p id="rel">Rota Religiosa</p>
    <br>
    <a href="#">Criar Nova Rota</a>
</div>
<!-- /.row -->