﻿@model tripin.Models.Ponto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ponto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
