﻿@model tripin.Models.Rota

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat1_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat1_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat2_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat2_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat3_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat3_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat4_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat4_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat5_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat5_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon1_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon1_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon2_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon2_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon3_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon3_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon4_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon4_rota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon5_rota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon5_rota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RotaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
